@use 'sass:map';
@use '~@angular/material' as mat;

@import "./glow.scss";

@mixin style-theme($theme, $success, $info, $warning) {
  $config: mat.get-color-config($theme);

  $p: map.get($config, primary);
  $a: map.get($config, accent);
  $w: map.get($config, warn);
  $b: map.get($config, background);
  $f: map.get($config, foreground);

  $primary: mat.get-color-from-palette($p);
  $primary-contrast: mat.get-color-from-palette($p, default-contrast);

  $accent: mat.get-color-from-palette($a);
  $accent-contrast: mat.get-color-from-palette($a, default-contrast);

  $warn: mat.get-color-from-palette($w);
  $warn-contrast: mat.get-color-from-palette($w, default-contrast);

  $background: mat.get-color-from-palette($b, background);
  $card: mat.get-color-from-palette($b, card);
  $app-bar: mat.get-color-from-palette($b, app-bar);
  $status-bar: mat.get-color-from-palette($b, status-bar);
  $hover: mat.get-color-from-palette($b, hover);
  $tooltip: mat.get-color-from-palette($b, tooltip);

  $base: mat.get-color-from-palette($f, base);
  $text: mat.get-color-from-palette($f, text);
  $icon: mat.get-color-from-palette($f, icon);
  $hint: mat.get-color-from-palette($f, hint);
  $divider: mat.get-color-from-palette($f, divider);

  .background.primary {
    background-color: $primary!important;
    color: $primary-contrast!important;
  }

  .background.accent {
    background-color: $accent!important;
    color: $accent-contrast!important;
  }

  .background.warn {
    background-color: $warn!important;
    color: $warn-contrast!important;
  }

  .background.success {
    color: $success!important;
  }

  .background.info {
    color: $info!important;
  }

  .background.warning {
    color: $warning!important;
  }

  .background.default,
  .background.card {
    background-color: $card!important;
  }

  .background.app-bar {
    background-color: $app-bar!important;
  }

  .background.stacked {
    background-color: $background!important;
  }

  .background.inverted {
    background-color: $text!important;
    color: $background!important;
  }

  .card-outline {
    border: 1px solid $text!important;
  }

  .card-outline-divider {
    border: 1px solid $divider!important;
  }

  .card-outline-primary {
    border: 1px solid $primary!important;
  }

  .card-outline-accent {
    border: 1px solid $accent!important;
  }

  .card-outline-warn {
    border: 1px solid $warn!important;
  }

  .card-outline-success {
    border: 1px solid $success!important;
  }

  .card-outline-info {
    border: 1px solid $info!important;
  }

  .card-outline-warning {
    border: 1px solid $warning!important;
  }

  .color.text {
    color: $text!important;
  }

  .color.primary {
    color: $primary!important;
  }

  .color.accent {
    color: $accent!important;
  }

  .color.warn {
    color: $warn!important;
  }

  .color.success {
    color: $success!important;
  }

  .color.info {
    color: $info!important;
  }

  .color.warning {
    color: $warning!important;
  }

  code.primary,
  a {
    color: $primary;
  }

  code.accent {
    color: $accent;
  }

  code.warn,
  a:visited {
    color: $warn;
  }

  a.mat-list-item,
  a.mat-tab-link,
  a.mat-list-item:visited,
  a.mat-tab-link:visited {
    color: $text;
  }

  a.mat-list-item.active,
  a.mat-tab-link.active {
    color: $primary;
  }

  mat-paginator.mat-paginator {
    background-color: $background;
  }

  @include style-glow($primary, $accent, $warn, $success, $info, $warning);
}
