.pre-wrap {
  white-space: pre-wrap;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-right {
  position: sticky;
  right: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.sticky-left {
  position: sticky;
  left: 0;
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.no-resize {
  resize: none!important;
}

.resize {
  resize: both!important;
}

.resize-horizontal {
  resize: horizontal!important;
}

.resize-vertical {
  resize: vertical!important;
}

.cursor-pointer {
  cursor: pointer!important;
}

.cursor-default {
  cursor: default!important;
}

.backdropped {
  transition: backdrop-filter 100ms ease-in;
}

.rounded {
  border-radius: 4px;
}

.p0 {
  padding: 0!important;
}

.p4 {
  padding: 4px!important;
}

.p8 {
  padding: 8px!important;
}

.p12 {
  padding: 12px!important;
}

.p16 {
  padding: 16px!important;
}

.p18 {
  padding: 18px!important;
}

.p20 {
  padding: 20px!important;
}

.px0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.px4 {
  padding-left: 4px!important;
  padding-right: 4px!important;
}

.px8 {
  padding-left: 8px!important;
  padding-right: 8px!important;
}

.px12 {
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.px16 {
  padding-left: 16px!important;
  padding-right: 16px!important;
}

.px18 {
  padding-left: 18px!important;
  padding-right: 18px!important;
}

.px20 {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.py0 {
  padding-top: 0!important;
  padding-right: 0!important;
}

.py4 {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.py8 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.py12 {
  padding-top: 12px!important;
  padding-bottom: 12px!important;
}

.py16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.py18 {
  padding-top: 18px!important;
  padding-bottom: 18px!important;
}

.py20 {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}

.pt0 {
  padding-top: 0!important;
}

.pt4 {
  padding-top: 4px!important;
}

.pt8 {
  padding-top: 8px!important;
}

.pt12 {
  padding-top: 12px!important;
}

.pt16 {
  padding-top: 16px!important;
}

.pt18 {
  padding-top: 18px!important;
}

.pt20 {
  padding-top: 20px!important;
}

.pr0 {
  padding-right: 0!important;
}

.pr4 {
  padding-right: 4px!important;
}

.pr8 {
  padding-right: 8px!important;
}

.pr12 {
  padding-right: 12px!important;
}

.pr16 {
  padding-right: 16px!important;
}

.pr18 {
  padding-right: 18px!important;
}

.pr20 {
  padding-right: 20px!important;
}

.pb0 {
  padding-bottom: 0!important;
}

.pb4 {
  padding-bottom: 4px!important;
}

.pb8 {
  padding-bottom: 8px!important;
}

.pb12 {
  padding-bottom: 12px!important;
}

.pb16 {
  padding-bottom: 16px!important;
}

.pb18 {
  padding-bottom: 18px!important;
}

.pb20 {
  padding-bottom: 20px!important;
}

.pl0 {
  padding-left: 0!important;
}

.pl4 {
  padding-left: 4px!important;
}

.pl8 {
  padding-left: 8px!important;
}

.pl12 {
  padding-left: 12px!important;
}

.pl16 {
  padding-left: 16px!important;
}

.pl18 {
  padding-left: 18px!important;
}

.pl20 {
  padding-left: 20px!important;
}

.m0 {
  margin: 0!important;
}

.m4 {
  margin: 4px!important;
}

.m8 {
  margin: 8px!important;
}

.m12 {
  margin: 12px!important;
}

.m16 {
  margin: 16px!important;
}

.m18 {
  margin: 18px!important;
}

.m20 {
  margin: 20px!important;
}

.mx0 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.mx4 {
  margin-left: 4px!important;
  margin-right: 4px!important;
}

.mx8 {
  margin-left: 8px!important;
  margin-right: 8px!important;
}

.mx12 {
  margin-left: 12px!important;
  margin-right: 12px!important;
}

.mx16 {
  margin-left: 16px!important;
  margin-right: 16px!important;
}

.mx18 {
  margin-left: 18px!important;
  margin-right: 18px!important;
}

.mx20 {
  margin-left: 20px!important;
  margin-right: 20px!important;
}

.my0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.my4 {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.my8 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.my12 {
  margin-top: 12px!important;
  margin-bottom: 12px!important;
}

.my16 {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.my18 {
  margin-top: 18px!important;
  margin-bottom: 18px!important;
}

.my20 {
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}

.mt0 {
  margin-top: 0!important;
}

.mt4 {
  margin-top: 4px!important;
}

.mt8 {
  margin-top: 8px!important;
}

.mt12 {
  margin-top: 12px!important;
}

.mt16 {
  margin-top: 16px!important;
}

.mt18 {
  margin-top: 18px!important;
}

.mt20 {
  margin-top: 20px!important;
}

.mr0 {
  margin-right: 0!important;
}

.mr4 {
  margin-right: 4px!important;
}

.mr8 {
  margin-right: 8px!important;
}

.mr12 {
  margin-right: 12px!important;
}

.mr16 {
  margin-right: 16px!important;
}

.mr18 {
  margin-right: 18px!important;
}

.mr20 {
  margin-right: 20px!important;
}

.mb0 {
  margin-bottom: 0!important;
}

.mb4 {
  margin-bottom: 4px!important;
}

.mb8 {
  margin-bottom: 8px!important;
}

.mb12 {
  margin-bottom: 12px!important;
}

.mb16 {
  margin-bottom: 16px!important;
}

.mb18 {
  margin-bottom: 18px!important;
}

.mb20 {
  margin-bottom: 20px!important;
}

.ml0 {
  margin-left: 0!important;
}

.ml4 {
  margin-left: 4px!important;
}

.ml8 {
  margin-left: 8px!important;
}

.ml12 {
  margin-left: 12px!important;
}

.ml16 {
  margin-left: 16px!important;
}

.ml18 {
  margin-left: 18px!important;
}

.ml20 {
  margin-left: 20px!important;
}
