<section fxLayout="column"
         [ngClass]="sketchStyle">
  <section fxLayout="row"
           fxLayoutAlign="start center">
    <p class="mat-title m8"
       fxFlex>{{title}}</p>
    <button mat-icon-button
            class="m8"
            (click)="refresh()">
      <mat-icon>replay</mat-icon>
    </button>
    <button mat-icon-button class="m8" (click)="expand()">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </section>
  <section class="m8 elevated rounded"
           [style.width.px]="width"
           [style.height.px]="height"
           #canvas></section>
</section>
